body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="radio"],
input[type="checkbox"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="text"]:valid,
input[type="email"]:valid,
input[type="tel"]:valid,
input[type="radio"]:valid,
input[type="checkbox"]:valid {
  border-style: solid ;
  border-width: 2px;
  border-color: green;
}

input[type="text"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="radio"]:invalid,
input[type="checkbox"]:invalid {
  border-color: red;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

label {
  font-weight: bold;
}

.days-free label {
  display: inline-block;
  margin-right: 15px;
}
