body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(253, 243, 199, 0.505);
}

header {
    background:  linear-gradient(90deg,rgb(5, 12, 94) ,hsl(154, 90%, 40%));
    /* background-color: rgb(206, 0, 165); */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header img {
    max-width: 100%;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 59, 14);
    overflow: hidden;
    align-items: center;
}

nav a {
    float: left;
    display: block;
    color: #fff;
    margin-left: 40px;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.2em;
    text-decoration: none;
    transition: 200ms;
}

nav a:hover {
    font-size: x-large;
    /* color: #333; */

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

li {
    background-color: #fff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: rgb(34, 255, 0);
    color: rgb(1, 49, 0);
    font-weight: 600;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(97, 88, 88);
    color: #ddd;
}